<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mCTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <mCTerminal.Properties.Settings>
            <setting name="enlem" serializeAs="String">
                <value />
            </setting>
            <setting name="boylam" serializeAs="String">
                <value />
            </setting>
            <setting name="hamveri" serializeAs="String">
                <value />
            </setting>
            <setting name="serialportdurum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prog_surum" serializeAs="String">
                <value>v0.4-alpha</value>
            </setting>
            <setting name="hamveriEkran_tema" serializeAs="String">
                <value>tema_varsayilan</value>
            </setting>
            <setting name="program_tema" serializeAs="String">
                <value>tema_varsayilan</value>
            </setting>
        </mCTerminal.Properties.Settings>
    </userSettings>
</configuration>